body {
    background-color: rgb(240, 240, 240);
  }
  
  h5 {
    font-family: "Arial Black", Gadget, sans-serif;
  }
  
  .InfoPerso {
    border: 1px solid black;
    margin: 2em;
    margin-top: 5em;
    padding: 25px;
    width: 20%;
    border-radius: 1em;
    box-shadow: 8px 8px 8px 0px rgb(202, 202, 202);
    background-color: white;
    position: fixed;
  }
  
  .textnav {
    margin-top: 2em;
  }
  
  .block2  {
    border: 1px solid black;
    padding: 25px;
    margin: 5em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 8px 8px 8px rgb(202, 202, 202);
    background-color: white;
    width: 65%;
    }
    
    .block3  {
      border: 1px solid black;
      padding: 25px;
      margin: 5em;
      border-radius: 1em;
      box-shadow: 8px 8px 8px rgb(202, 202, 202);
      background-color: white;
      width: 65%;
      display: flex;
      flex-direction: column;
      }
  
  .placementcompetences {
    margin-top: 3em;
  }
  
  .middlecompetences {
    margin-top: 1em;
  }
  
  .droitecompetences {
    margin-top: 20px;
  }
  
  .progress {
    margin-bottom: 10px;
  }
  
  .block4  {
    border: 1px solid black;
    padding: 25px;
    margin: 5em;
    border-radius: 1em;
    box-shadow: 8px 8px 8px rgb(202, 202, 202);
    background-color: white;
    width: 65%;
    }
  
  .photocv {
    width: 12em;
    margin-bottom: 1em;
  }
  
  .photocvplacement {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .containerdroite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  
  .placementformation {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
  
  .gauchecont2 {
    width: 50%;
  }
  
  .droitecont2 {
    width:  50%;
    display: flex;
    align-items: flex-end;
  }
  
  .placementdiplome {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
  
  .gauchediplome {
    width: 50%;
  }
  
  .droitediplome {
    width:  50%;
    display: flex;
    align-items: flex-end;
  }
  
  .placementexperience {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
  
  .gaucheexperience {
    width: 50%;
  }
  
  .droiteexperience {
    width:  50%;
    display: flex;
    align-items: flex-end;
  }